* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}


.menu {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}

.menu li {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 5%;
    padding: 5px;
}

.menu a {
    text-decoration: none;
}

.menu a:visited {
    color: initial;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 10%;
    padding: 1% 2% 1% 5%;
}
